@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  color: var(--gray2);
  background-color: var(--bg);
}

:root {
  --green0: #33423d;
  --green1: #495e57;
  --green2: #627e75;
  --green3: #8ca69d;
  --green4: #c6d2ce;
  --yellow0: #e5c00b;
  --yellow1: #f4ce14;
  --yellow2: #f9e377;
  --yellow3: #fbeda7;
  --yellow4: #fdf5ce;
  --gray1: #161616;
  --gray2: #424242;
  --gray3: #6a6a6a;
  --gray4: #919191;
  --gray5: #bcbcbc;
  --gray6: #d4d4d4;
  --lightest-gray: #f1f1f1;
  --white: #fff;
  --salmon: #ee9972;
  --pale-pink: #fbdabb;
  --dark-coral: #df591b;
  --bg: #f7f7f7;
  --margin-left: 80px;
}

/* ==== Header ==== */

.header-ul {
  list-style: none;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--gray3);
  text-transform: uppercase;
  display: flex;
  gap: 40px;
}

.header-ul li:hover {
  color: var(--green2);
  cursor: pointer;
}

#hamburger {
  display: none;
}

.login-btn {
  background-color: transparent;
  color: var(--gray3);
  padding: 10px 24px 10px 16px;
  border-radius: 8px;
  border: 2px solid var(--gray3);
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: var(--lightest-gray);
  border: 2px solid var(--gray5);
  transition: all 0.4s ease-out;
}

.cart-login {
  display: flex;
  align-items: center;
  gap: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  width: 100vw;
  background-color: var(--white);
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
}

a {
  text-decoration: none;
  color: var(--gray3);
}

/* ==== Hero section ==== */

.hero-section {
  border-radius: 0px 0px 0px 200px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0.7) 70.07%
    ),
    url("./assets/hero.jpg"), lightgray 0px -627.274px / 100% 253.575% no-repeat;
  background-blend-mode: hard-light, normal;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 600px;
  outline: 4px solid var(--yellow1);
  outline-offset: 8px;
}

h1 {
  font-family: "Markazi Text", sans-serif;
  font-size: 80px;
  font-weight: 500;
  color: var(--white);
  margin-left: 188px;
  padding-top: 40px;
  letter-spacing: 1.2px;
}

.hero-h2 {
  font-family: "Markazi Text", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: var(--white);
  margin-left: 188px;
  margin-top: 8px;
  letter-spacing: 1.4px;
}

.subtitle {
  width: 60%;
  background-image: url("./assets/stroke-border.png");
  background-repeat: no-repeat;
  background-position: 0 90%;
  padding-bottom: 32px;
}

.hero-span {
  font-size: 40px;
}

.reserve-btn {
  background-color: var(--yellow0);
  border: none;
  border-radius: 16px;
  color: var(--white);
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  padding: 24px 20px 24px 40px;
  gap: 24px;
  align-items: center;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-left: 188px;
  margin-top: 32px;
}

.reserve-btn:hover {
  background-color: var(--yellow2);
  transition: all 0.3s ease-out;
}

/* ==== featured menu ==== */

.featured.menu {
  margin-top: 100px;
}

.cards-slider {
  display: flex;
  gap: 40px;
  margin: 32px 0 40px var(--margin-left);
  overflow-x: auto;
  padding: 8px 0;
}

.menu-image {
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 280px;
  object-fit: cover;
}

h2 {
  font-family: "Markazi Text", sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: var(--gray1);
  margin-left: var(--margin-left);
  margin-top: 56px;
  letter-spacing: 1.4px;
}

.title {
  font-size: 18px;
  color: var(--gray1);
  font-weight: 700;
  margin-bottom: 16px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray4);
  margin-bottom: 24px;
}

.price {
  font-size: 22px;
  font-weight: 700;
  color: var(--gray1);
}

.order-btn {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  color: var(--gray2);
  border-radius: 100px;
  border-top: 1px solid var(--gray5);
  border-left: 1px solid var(--gray5);
  border-bottom: 1px solid var(--gray5);
  border-right: none;
  padding: 8px 0px 8px 16px;
  background-color: transparent;
  display: flex;
  gap: 16px;
  align-items: center;
  height: 42px;
  cursor: pointer;
}

#check {
  border-radius: 100%;
  border: 1px solid var(--gray6);
  width: 42px;
}

#check:hover {
  background-color: var(--lightest-gray);
}

#check:active {
  background-color: var(--gray1);
  color: var(--white);
}

.price-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-text {
  display: flex;
  flex-direction: column;
  padding: 32px 16px 40px 16px;
  background-color: var(--white);
  border-radius: 0px 0px 16px 16px;
}

.card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  min-width: 420px;
}

.delivery-btn {
  background-color: var(--pale-pink);
  border: none;
  border-radius: 16px;
  color: var(--dark-coral);
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: Karla;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  padding: 24px 20px 24px 40px;
  gap: 24px;
  align-items: center;
  box-shadow: 0px 1px 2px 0px rgba(241, 176, 146, 0.23),
    0px 2px 6px 2px rgba(248, 197, 174, 0.15);
  cursor: pointer;
  margin: 0 auto 100px auto;
}

.delivery-btn:hover {
  background-color: #fdefe2;
  transition: all 0.3s ease-out;
}

/* === Tesimonials === */

.testimonial-h2 {
  font-family: "Markazi Text", sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: var(--white);
  letter-spacing: 1.4px;
  margin-left: -80px;
}

#bg-quote {
  margin-right: 24px;
}

h3 {
  font-family: "Markazi Text", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: var(--gray2);
}

.testimonial-card {
  width: 273px;
  min-width: 240px;
  height: 318px;
  background-color: var(--white);
  border-radius: 16px;
  border-right: 1px solid var(--gray5);
  border-bottom: 2px solid var(--gray5);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./assets/quote.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.stars {
  width: 50%;
}

.review {
  font-size: 16px;
  color: var(--gray3);
  font-weight: 400;
  padding-top: 16px;
  line-height: 24px;
}

.review-text {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--lightest-gray);
}

.name {
  font-size: 16px;
  color: var(--gray2);
}

.place {
  font-size: 12px;
  color: var(--gray4);
}

.name-place {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.avatar-name {
  display: flex;
  margin-top: 24px;
  align-items: center;
  gap: 8px;
}

.card-container {
  display: flex;
  gap: 24px;
  margin-top: 40px;
  max-width: 100vw;
}

.testimonials {
  width: 100vw;
  height: 620px;
  border-radius: 0px 200px 0px 0px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("./assets/restaurant.jpg") lightgray 50% / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ==== About ==== */

.about-h2,
.subscribe-h2 {
  margin-left: 0;
}

.tagline {
  font-family: "Markazi Text", sans-serif;
  font-size: 32px;
  color: var(--gray3);
  font-weight: 400;
  letter-spacing: 1.4px;
}

article {
  font-size: 18px;
  font-weight: 400;
  color: var(--gray3);
  line-height: 28px;
  letter-spacing: 0.8px;
  margin: 32px 0 24px 0;
}

.bottom-img {
  width: 100%;
  height: 277px;
  border-radius: 4px 4px 4px 312px;
  background-image: url("./assets/chef.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.left {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.right-img {
  width: 70%;
  max-width: 630px;
  height: 671px;
  border-radius: 315px 315px 4px 4px;
  background: url("./assets/two-chefs.jpg") no-repeat;
  background-size: cover;
  background-position: 80%;
}

.about {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: end;
  margin: 100px 80px 80px 80px;
  background-image: url("./assets/logo.jpg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: top center;
}

/* ==== Subscribe ==== */

.subscribe-email {
  background-color: var(--white);
  border-radius: 16px 0 0 16px;

  width: 383px;
  height: 72px;
  font-family: "Karla", sans-serif;
  color: var(--gray5);
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.send {
  background-color: var(--green1);
  color: var(--white);
  padding: 8px 24px;
  border-radius: 0 16px 16px 0;
  height: 72px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.send:hover {
  background-color: var(--green3);
  transition: all 0.3s ease-out;
}

.subscribe-btn {
  border: none;
  background-color: transparent;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  border-radius: 16px;
  margin: 32px auto 100px auto;
  cursor: pointer;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

/* ==== Footer ==== */

footer {
  background-color: var(--gray1);
  color: var(--bg);
  padding: 24px 0;
}

#white-logo {
  width: 120px;
  mix-blend-mode: luminosity;
  display: block;
  margin: 24px auto 32px auto;
  cursor: pointer;
}

.footer-ul {
  font-size: 16px;
  font-weight: 500;
  list-style: none;
}

.footer-ul li {
  margin-bottom: 16px;
  cursor: pointer;
}

.footer-ul li:hover {
  color: var(--yellow1);
}

.contact {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 8px;
}
.contact-text {
  font-size: 15px;
  letter-spacing: 1.1px;
}

.icon-contact {
  display: flex;
  gap: 10px;
  align-items: start;
}

.contact-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 32px;
  cursor: pointer;
}

.footer-contents {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: start;
}

/* ====responsive==== */

@media (max-width: 1200px) {
  .header-ul {
    font-size: 13px;
    gap: 24px;
  }
  .card-container {
    width: 90vw;
    overflow: scroll;
  }
}

@media (max-width: 1000px) {
  #hamburger {
    display: block;
  }
  .cart {
    display: none;
  }
  .login-btn {
    display: none;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    background-image: url("./assets/logo.jpg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: top center;
  }
  .left {
    width: 80vw;
  }
  .right-img {
    width: 80vw;
    height: 400px;
  }
}

@media (max-width: 640px) {
  .hero-section {
    height: 500px;
    outline: 4px solid var(--yellow1);
    outline-offset: 8px;
  }

  h1 {
    font-size: 48px;
    margin-left: 80px;
  }

  .hero-h2 {
    font-size: 24px;
    margin-left: 80px;
  }
  .reserve-btn {
    margin-left: 80px;
    margin-top: 50px;
  }

  .card {
    min-width: 100%;
  }

  .card-container {
    width: 100vw;
    overflow: scroll;
  }

  .cards-slider {
    display: flex;
    gap: 40px;
    margin: 32px 0px 32px 8px;
    overflow-x: auto;
    padding: 8px 0;
  }

  .testimonial-h2 {
    font-family: "Markazi Text", sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: var(--white);
    letter-spacing: 1.4px;
    margin: 0 auto;
  }

  #bg-quote {
    display: none;
  }

  .left {
    width: 90vw;
    margin: 0 auto;
  }
  .right-img {
    width: 90vw;
  }
  .about {
    margin-bottom: 40px;
  }

  .subscribe-email {
    background-color: var(--white);
    border-radius: 16px 0 0 16px;
    width: 230px;
    height: 72px;
    font-family: "Karla", sans-serif;
    color: var(--gray5);
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-left: 16px;
  }

  .footer-ul {
    display: none;
  }
  .contact-section {
    display: none;
  }
}
