@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1.125rem;
  color: var(--gray2);
  background-color: var(--bg);
}

:root {
  --green0: #33423d;
  --green1: #495e57;
  --green2: #627e75;
  --green3: #8ca69d;
  --green4: #c6d2ce;
  --yellow0: #e5c00b;
  --yellow1: #f4ce14;
  --yellow2: #f9e377;
  --yellow3: #fbeda7;
  --yellow4: #fdf5ce;
  --gray1: #161616;
  --gray2: #424242;
  --gray3: #6a6a6a;
  --gray4: #919191;
  --gray5: #bcbcbc;
  --gray6: #d4d4d4;
  --lightest-gray: #f1f1f1;
  --white: #fff;
  --salmon: #ee9972;
  --pale-pink: #fbdabb;
  --dark-coral: #df591b;
  --bg: #f7f7f7;
  --margin-left: 5rem;
}

/* ==== Header ==== */

.header-ul {
  list-style: none;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: var(--gray3);
  text-transform: uppercase;
  display: flex;
  gap: 2.5rem;
}

.header-ul:hover {
  color: var(--yellow1);
  cursor: pointer;
}

#hamburger {
  display: none;
}

.login-btn {
  background-color: transparent;
  color: var(--gray3);
  padding: 0.625rem 1.5rem 0.625rem 1rem;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--gray3);
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
}

.login-btn:hover {
  background-color: var(--lightest-gray);
  border: 0.125rem solid var(--gray5);
  transition: all 0.4s ease-out;
}

.cart-login {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 5rem;
  width: 100vw;
  background-color: var(--white);
  box-shadow: 0 0.25rem 0.5rem 0.1875rem rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 20;
}

a {
  text-decoration: none;
  color: var(--gray3);
}

/* ==== Hamburger Menu ==== */

.hamburger-menu{
  position: fixed;
  right: 0;
  z-index: 40;
  width: 50%;
  padding: 1.5rem 1rem;
  background-color: var(--white);
list-style: none;
border-radius: 0 0 1rem 1rem;
box-shadow: 0.0625rem 0.5rem 0.625rem 0rem rgba(0, 0, 0, 0.7);
}

.item-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

/* ==== Hero section ==== */

.hero-section {
  border-radius: 0rem 0rem 0rem 12.5rem;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0.7) 70.07%
    ),
    url("./assets/hero.jpg"), lightgray 0rem -39.2046rem / 100% 253.575% no-repeat;
  background-blend-mode: hard-light, normal;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 37.5rem;
  outline: 0.25rem solid var(--yellow1);
  outline-offset: 0.5rem;
}

h1 {
  font-family: "Markazi Text", sans-serif;
  font-size: 5rem;
  font-weight: 500;
  color: var(--white);
  margin-left: 11.75rem;
  padding-top: 2.5rem;
  letter-spacing: 0.075rem;
}

.hero-h2 {
  font-family: "Markazi Text", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--white);
  margin-left: 11.75rem;
  margin-top: 0.5rem;
  letter-spacing: 0.0875rem;
}

.subtitle {
  width: 60%;
  background-image: url("./assets/stroke-border.png");
  background-repeat: no-repeat;
  background-position: 0 90%;
  padding-bottom: 2rem;
}

.hero-span {
  font-size: 2.5rem;
}

.reserve-btn {
  background-color: var(--yellow0);
  border: none;
  border-radius: 1rem;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.15), 0rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
  font-family: Karla;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  padding: 1.5rem 1.25rem 1.5rem 2.5rem;
  gap: 1.5rem;
  align-items: center;
  box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(0, 0, 0, 0.3),
    0rem 0.125rem 0.375rem 0.125rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-left: 11.75rem;
  margin-top: 2rem;
}

.reserve-btn:hover {
  background-color: var(--yellow2);
  transition: all 0.3s ease-out;
}

/* ==== featured menu ==== */

.featured.menu {
  margin-top: 6.25rem;
}

.cards-slider {
  display: flex;
  gap: 2.5rem;
  margin: 2rem 0 2.5rem var(--margin-left);
  overflow-x: auto;
  padding: 0.5rem 0;
}

.menu-image {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 17.5rem;
  object-fit: cover;
}

h2 {
  font-family: "Markazi Text", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: var(--gray1);
  margin-left: var(--margin-left);
  margin-top: 3.5rem;
  letter-spacing: 0.0875rem;
}

.title {
  font-size: 1.125rem;
  color: var(--gray1);
  font-weight: 700;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray4);
  margin-bottom: 1.5rem;
}

.price {
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--gray1);
}

.order-btn {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--gray2);
  border-radius: 6.25rem;
  border-top: 0.0625rem solid var(--gray5);
  border-left: 0.0625rem solid var(--gray5);
  border-bottom: 0.0625rem solid var(--gray5);
  border-right: none;
  padding: 0.5rem 0rem 0.5rem 1rem;
  background-color: transparent;
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 2.625rem;
  cursor: pointer;
}

#check {
  border-radius: 100%;
  border: 0.0625rem solid var(--gray6);
  width: 2.625rem;
}

#check:hover {
  background-color: var(--lightest-gray);
}

#check:active {
  background-color: var(--gray1);
  color: var(--white);
}

.price-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-text {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2.5rem 1rem;
  background-color: var(--white);
  border-radius: 0rem 0rem 1rem 1rem;
}

.card {
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.3), 0 0.125rem 0.375rem 0.125rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  min-width: 26.25rem;
}

.delivery-btn {
  background-color: var(--pale-pink);
  border: none;
  border-radius: 1rem;
  color: var(--dark-coral);
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family: Karla;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  padding: 1.5rem 1.25rem 1.5rem 2.5rem;
  gap: 1.5rem;
  align-items: center;
  box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(241, 176, 146, 0.23),
    0rem 0.125rem 0.375rem 0.125rem rgba(248, 197, 174, 0.15);
  margin: 0 auto 6.25rem auto;
}

.delivery-btn:hover {
  background-color: #fdefe2;
  transition: all 0.3s ease-out;
}

/* === Tesimonials === */

.testimonial-h2 {
  font-family: "Markazi Text", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: var(--white);
  letter-spacing: 0.0875rem;
  margin-left: -5rem;
}

#bg-quote {
  margin-right: 1.5rem;
}

h3 {
  font-family: "Markazi Text", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  color: var(--gray2);
}

.testimonial-card {
  width: 17.0625rem;
  min-width: 15rem;
  height: 19.875rem;
  background-color: var(--white);
  border-radius: 1rem;
  border-right: 0.0625rem solid var(--gray5);
  border-bottom: 0.125rem solid var(--gray5);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./assets/quote.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.stars {
  width: 50%;
}

.review {
  font-size: 1rem;
  color: var(--gray3);
  font-weight: 400;
  padding-top: 1rem;
  line-height: 1.5rem;
}

.review-text {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid var(--lightest-gray);
}

.name {
  font-size: 1rem;
  color: var(--gray2);
}

.place {
  font-size: 0.75rem;
  color: var(--gray4);
}

.name-place {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.avatar-name {
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
  gap: 0.5rem;
}

.card-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 2.5rem;
  max-width: 100vw;
}

.testimonials {
  width: 100vw;
  height: 38.75rem;
  border-radius: 0rem 12.5rem 0rem 0rem;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("./assets/restaurant.jpg") lightgray 50% / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ==== About ==== */

.about-h2,
.subscribe-h2 {
  margin-left: 0;
}

.tagline {
  font-family: "Markazi Text", sans-serif;
  font-size: 2rem;
  color: var(--gray3);
  font-weight: 400;
  letter-spacing: 0.0875rem;
}

article {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--gray3);
  line-height: 1.75rem;
  letter-spacing: 0.05rem;
  margin: 2rem 0 1.5rem 0;
}

.bottom-img {
  width: 100%;
  height: 17.3125rem;
  border-radius: 0.25rem 0.25rem 0.25rem 19.5rem;
  background-image: url("./assets/chef.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.left {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.right-img {
  width: 70%;
  max-width: 39.375rem;
  height: 41.9375rem;
  border-radius: 19.6875rem 19.6875rem 0.25rem 0.25rem;
  background: url("./assets/two-chefs.jpg") no-repeat;
  background-size: cover;
  background-position: 80%;
}

.about {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: end;
  margin: 6.25rem 5rem 5rem 5rem;
  background-image: url("./assets/logo.jpg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: top center;
}

/* ==== Subscribe ==== */

.subscribe-email {
  background-color: var(--white);
  border-radius: 1rem 0 0 1rem;

  width: 23.9375rem;
  height: 4.5rem;
  font-family: "Karla", sans-serif;
  color: var(--gray5);
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.send {
  background-color: var(--green1);
  color: var(--white);
  padding: 0.5rem 1.5rem;
  border-radius: 0 1rem 1rem 0;
  height: 4.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
}

.send:hover {
  background-color: var(--green3);
  transition: all 0.3s ease-out;
}

.subscribe-btn {
  border: none;
  background-color: transparent;
  box-shadow: 0rem 0.25rem 0.5rem 0.1875rem rgba(0, 0, 0, 0.15),
    0rem 0.0625rem 0.1875rem 0rem rgba(0, 0, 0, 0.3);
  display: flex;
  border-radius: 1rem;
  margin: 2rem auto 6.25rem auto;
  cursor: pointer;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

/* ==== Footer ==== */

footer {
  background-color: var(--gray1);
  color: var(--bg);
  padding: 1.5rem 0;
}

.footer-li {
  color: var(--bg);
}

#white-logo {
  width: 7.5rem;
  mix-blend-mode: luminosity;
  display: block;
  margin: 1.5rem auto 2rem auto;
  cursor: pointer;
}

.footer-ul {
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
}

.footer-ul li {
  margin-bottom: 1rem;
  cursor: pointer;
}

.footer-ul li:hover {
  color: var(--yellow1);
}

.contact {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.contact-text {
  font-size: 0.9375rem;
  letter-spacing: 0.0688rem;
}

.icon-contact {
  display: flex;
  gap: 0.625rem;
  align-items: start;
}

.contact-section {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: 12.5rem;
}

.socials {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.footer-contents {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: start;
}

/* ====responsive==== */

@media (max-width: 75rem) {
  .header-ul {
    font-size: 0.8125rem;
    gap: 1.5rem;
  }
  .card-container {
    width: 90vw;
    overflow: scroll;
  }
}

@media (max-width: 62.5rem) {
  #hamburger {
    display: block;
    cursor: pointer;
  }
  .header-ul {
    display: none;
  }
  .cart {
    display: none;
  }
  .login-btn {
    display: none;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 6.25rem auto;
    background-image: url("./assets/logo.jpg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: top center;
  }
  .left {
    width: 80vw;
  }
  .right-img {
    width: 80vw;
    height: 25rem;
  }
}

@media (max-width: 40rem) {
  .hero-section {
    height: 31.25rem;
    outline: 0.25rem solid var(--yellow1);
    outline-offset: 0.5rem;
  }

  h1 {
    font-size: 3rem;
    margin-left: 5rem;
  }

  .hero-h2 {
    font-size: 1.5rem;
    margin-left: 5rem;
  }
  .reserve-btn {
    margin-left: 5rem;
    margin-top: 3.125rem;
  }

  .card {
    min-width: 100%;
  }

  .card-container {
    width: 100vw;
    overflow: scroll;
  }

  .cards-slider {
    display: flex;
    gap: 2.5rem;
    margin: 2rem 0rem 2rem 0.5rem;
    overflow-x: auto;
    padding: 0.5rem 0;
  }

  .testimonial-h2 {
    font-family: "Markazi Text", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: var(--white);
    letter-spacing: 0.0875rem;
    margin: 0 auto;
  }

  #bg-quote {
    display: none;
  }

  .left {
    width: 90vw;
    margin: 0 auto;
  }
  .right-img {
    width: 90vw;
  }
  .about {
    margin-bottom: 2.5rem;
  }

  .subscribe-email {
    background-color: var(--white);
    border-radius: 1rem 0 0 1rem;
    width: 14.375rem;
    height: 4.5rem;
    font-family: "Karla", sans-serif;
    color: var(--gray5);
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .footer-ul {
    display: none;
  }
  .contact-section {
    display: none;
  }
}
